<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>{{ curSide }} - TTRS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mdui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/live2d.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='pic/hd_7.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-editable-select.css') }}" />
{#    <link rel="stylesheet" href="https://rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css">#}

    {% block head %} {% endblock %}
</head>
<body class="mdui-appbar-with-toolbar mdui-drawer-body-left mdui-theme-primary-deep-purple mdui-theme-accent-deep-purple">

<header class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme main-color">
            <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-drawer="{target: '#drawer', swipe: true}">
                <i class="mdui-icon material-icons" >menu</i>
            </span>
        <div class="mdui-typo-headline">TTRS —— DS 2019</div>
        <div class="mdui-toolbar-spacer"></div>

        {% if 'user' not in ses %}
            <button class="mdui-btn mdui-ripple mdui-color-theme-accent" onclick="openLogin()">login</button>
        {% else %}

            {#            <button class="mdui-btn mdui-color-theme-accent" mdui-menu="{target: '#example-attr'}">open</button>#}

            <button class="mdui-btn mdui-btn-icon mdui-ripple" id="headicon" mdui-menu="{target: '#example-attr'}">
                <img src="{{ url_for('static', filename='pic/hd_' ~ ses['headIcon'] ~ '.png') }}" class="round_icon">
                {#                <i class="mdui-icon material-icons">add</i>#}
            </button>

            <ul class="mdui-menu" id="example-attr" id="menulist">
                <li class="mdui-menu-item">
                    <a class="mdui-typo">你好，<div class="userName" style="display: inline-block"></div>({{ ses['user'] }})！</a>
                </li>
                <li class="mdui-menu-item" disabled>
                    <a href="javascript:;">Help & feedback</a>
                </li>
                <li class="mdui-menu-item">
                    <a href="javascript:;" class="mdui-ripple">Settings</a>
                </li>
                <li class="mdui-divider"></li>
                <li class="mdui-menu-item">
                    <a href="javascript:;" class="mdui-ripple">Sign out</a>
                </li>
            </ul>


        {% endif %}

    </div>
</header>

<div class="mdui-drawer" id="drawer">
    <div class="mdui-list" mdui-collapse="{accordion: false}" style="margin-bottom: 76px;" id="drawerlist">

        <div class="mdui-collapse-item mdui-collapse-item-open">
            <div class="mdui-collapse-item-body mdui-list">
                <a href="/" class="mdui-list-item mdui-ripple {% if curSide=="首页" %}  mdui-list-item-active {% else %}  {% endif %}">首页</a>
            </div>
        </div>
        <div class="mdui-collapse-item mdui-collapse-item-open">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple" id="fatherbtn">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">near_me</i>
                <div class="mdui-list-item-content">功能</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                <a href="/query" class="mdui-list-item mdui-ripple {% if curSide=="查询" %}  mdui-list-item-active {% else %}  {% endif %}">查询</a>
                <a href="/manage" class="mdui-list-item mdui-ripple {% if curSide=="管理" %}  mdui-list-item-active {% else %}  {% endif %}">管理</a>
            </div>
        </div>
        <div class="mdui-collapse-item mdui-collapse-item-open">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple" id="fatherbtn">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">near_me</i>
                <div class="mdui-list-item-content">我的</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                <a href="/account" class="mdui-list-item mdui-ripple {% if curSide=="账户" %}  mdui-list-item-active {% else %}  {% endif %}">账户</a>
            </div>
        </div>
    </div>

</div>


<div class="mdui-container doc-container doc-no-cover">
    {% block content %}{% endblock %}
</div>


{#<script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>#}
{#<script type="text/javascript">#}
{#    var message_Path = "{{ url_for('static', filename='live2d/') }}"#}
{#var home_Path = 'https://haremu.com/'#}
{#    var home_Path = 'http://localhost/'#}
{#</script>#}
{#<script type="text/javascript" src="{{ url_for('static', filename='js/live2d.js') }}"></script>#}
{#<script type="text/javascript" src="{{ url_for('static', filename='js/message.js') }}"></script>#}
{#<script type="text/javascript">#}
{#    loadlive2d("live2d", "{{ url_for('static', filename='live2d/model/Pio/model.json') }}");#}
{#</script>#}

<div class="mdui-dialog" id="exampleDialog">
    <div class="mdui-dialog-title">SIGN IN</div>
    <div class="mdui-dialog-content">

        <div class="mdui-textfield mdui-textfield-floating-label">
            <i class="mdui-icon material-icons">account_circle</i>
            <label class="mdui-textfield-label">Username</label>
            <input class="mdui-textfield-input" id="emailinput" onkeydown="ClickUsername()"></input>
        </div>

        <div align="right">
            <div class="mdui-btn mdui-ripple" onclick="loginDialogue.close();signupDialogue.open();"  mdui-dialog-close>
                没有账号？马上注册
            </div>
        </div>


        <div class="mdui-textfield mdui-textfield-floating-label">
            <i class="mdui-icon material-icons">vpn_key</i>
            <label class="mdui-textfield-label">Password</label>
            <input class="mdui-textfield-input" id="passwdinput" type="password"></input>
        </div>

        <div align="right">
            <div class="mdui-btn mdui-ripple">
                忘记密码？
            </div>
        </div>

        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label" id="capLable"></label>
            <input class="mdui-textfield-input" id="capinput" onkeydown="ClickPassword(eraseBtnClicked)"></input>
        </div>

    </div>

    <div class="mdui-dialog-actions">
        <button class="mdui-btn mdui-ripple " mdui-dialog-close>cancel</button>
        <button class="mdui-btn mdui-ripple" mdui-dialog-confirm onclick="eraseBtnClicked()">login</button>
    </div>

</div>


<div class="mdui-dialog" id="signupDialog">
    <div class="mdui-dialog-title">SIGN UP</div>
    <div class="mdui-dialog-content">
        <div class="mdui-textfield mdui-textfield-floating-label">
            <i class="mdui-icon material-icons">account_circle</i>
            <label class="mdui-textfield-label">用户名</label>
            <input class="mdui-textfield-input" id="userinputR"></input>
        </div>

        <div align="right">
            <div class="mdui-btn mdui-ripple" onclick="signupDialogue.close();loginDialogue.open();"  mdui-dialog-close>
                已有账号？马上登录
            </div>
        </div>

        <div class="mdui-textfield mdui-textfield-floating-label">
            <i class="mdui-icon material-icons">vpn_key</i>
            <label class="mdui-textfield-label">密码</label>
            <input class="mdui-textfield-input" type="password" id="passwdinputR1"></input>
        </div>
        <div class="mdui-textfield mdui-textfield-floating-label">
            <i class="mdui-icon material-icons">vpn_key</i>
            <label class="mdui-textfield-label">确认密码</label>
            <input class="mdui-textfield-input" type="password" id="passwdinputR2"></input>
        </div>

        <div class="mdui-textfield mdui-textfield-floating-label">
            <i class="mdui-icon material-icons">email</i>
            <label class="mdui-textfield-label">邮箱</label>
            <input class="mdui-textfield-input" type="email" id="emailinputR"></input>
        </div>

        <div class="mdui-textfield mdui-textfield-floating-label">
            <i class="mdui-icon material-icons">phone</i>
            <label class="mdui-textfield-label">电话号码</label>
            <input class="mdui-textfield-input" id="phoneinputR" onkeydown="ClickPassword(registerBtnClicked)"></input>
        </div>


    </div>

    <div class="mdui-dialog-actions">
        <button class="mdui-btn mdui-ripple" mdui-dialog-close>cancel</button>
        <button class="mdui-btn mdui-ripple" mdui-dialog-confirm onclick="registerBtnClicked()">confirm</button>
    </div>
</div>

<div class="mdui-dialog" id="errorDialog">
    <div class="mdui-dialog-title">error</div>
    <div class="mdui-dialog-content" id="errorMsg">
        PROCESSING...
    </div>
    <div class="mdui-dialog-actions">
        <button class="mdui-btn mdui-ripple " mdui-dialog-close id="cancelBtn">cancel</button>
    </div>
</div>

<div class="mdui-dialog" id="processDialogue">
    <div class="mdui-dialog-content">
        <div class="mdui-spinner"></div>
        PROCESSING...
    </div>
</div>

{% block app %}{% endblock %}

<footer>
    <div class="mdui-typo-caption-opacity" align="center">Copyright © 2019 dhc,ysf,whj,fly All rights reserved.</div>
</footer>

{% if 'user' in ses %}
    <script>
        var userId = {{ ses['user'] }}
    </script>
{% else %}
    <script>
        var userId = -1
    </script>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script>
    const live2d_path = "{{ url_for('static', filename='js/') }}"
</script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
    "HTML-CSS": { linebreaks: { automatic: true } },
         SVG: { linebreaks: { automatic: true } }
  });
</script>
<script src="{{ url_for('static', filename='MathJax/MathJax.js') }}?config=TeX-MML-AM_CHTML"></script>
<script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/mdui.js') }}"></script>
<script src="{{ url_for("static", filename="js/my.js") }}"></script>
<script src="{{ url_for('static', filename='js/autoload.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-editable-select.js') }}"></script>
{#<script src="https://rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js"></script>#}

{% if 'user' in ses %}
    <script>
        getUserInfo('{{ session['user'] }}')
    </script>
{% endif %}

{% block scr %}{% endblock %}

</body>
</html>