<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TTRS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mdui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/mdui.js') }}" defer></script>
    <script src="{{ url_for("static", filename="js/my.js") }}" defer></script>
</head>
<body class="mdui-appbar-with-toolbar mdui-drawer-body-left mdui-theme-primary-deep-purple mdui-theme-accent-deep-purple">
<header class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme main-color">
            <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-drawer="{target: '#drawer', swipe: true}">
                <i class="mdui-icon material-icons" >menu</i>
            </span>
        <div class="mdui-typo-headline">TTRS —— Data Structre 2019</div>
        <div class="mdui-toolbar-spacer"></div>

        {% if 'user' not in ses %}
            <button class="mdui-btn mdui-ripple mdui-color-theme-accent" onclick="openLogin()">login</button>
        {% else %}
            <button class="mdui-btn mdui-btn-icon mdui-ripple">
                <img src="{{ url_for('static', filename='pic/hd_' ~ ses['headIcon'] ~ '.png') }}" class="round_icon" id="headicon">
                {#                <i class="mdui-icon material-icons">add</i>#}
            </button>
        {% endif %}


    </div>
</header>

<div class="mdui-drawer" id="drawer">
    <div class="mdui-list" mdui-collapse="{accordion: false}" style="margin-bottom: 76px;">

        <div class="mdui-collapse-item mdui-collapse-item-open">
            <div class="mdui-collapse-item-body mdui-list">
                <a href="/" class="mdui-list-item mdui-ripple {% if curSide=="idx" %}  mdui-list-item-active {% else %}  {% endif %}">首页</a>
            </div>
        </div>
        <div class="mdui-collapse-item mdui-collapse-item-open">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple" id="fatherbtn">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">near_me</i>
                <div class="mdui-list-item-content">功能</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                <a href="/query" class="mdui-list-item mdui-ripple {% if curSide=="qry" %}  mdui-list-item-active {% else %}  {% endif %}">查询</a>
                <a href="/manage" class="mdui-list-item mdui-ripple {% if curSide=="mng" %}  mdui-list-item-active {% else %}  {% endif %}">管理</a>
            </div>
        </div>
        <div class="mdui-collapse-item mdui-collapse-item-open">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple" id="fatherbtn">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">near_me</i>
                <div class="mdui-list-item-content">我的</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                <a href="/account" class="mdui-list-item mdui-ripple {% if curSide=="acc" %}  mdui-list-item-active {% else %}  {% endif %}">账户</a>
            </div>
        </div>
    </div>
</div>

<div class="mdui-container doc-container doc-no-cover">
    <div style="margin: 2%;">
        {% block content %}{% endblock %}
    </div>
</div>


<div class="mdui-dialog" id="exampleDialog">
    <div class="mdui-dialog-title">SIGN IN</div>
    <div class="mdui-dialog-content">

        <div class="mdui-textfield mdui-textfield-floating-label">
            <i class="mdui-icon material-icons">account_circle</i>
            <label class="mdui-textfield-label">Username</label>
            <input class="mdui-textfield-input" id="emailinput" onkeydown="ClickUsername()"></input>
        </div>

        <div align="right">
            <div class="mdui-btn mdui-ripple" mdui-dialog="{target: '#signupDialog'}"  mdui-dialog-close>
                没有账号？马上注册
            </div>
        </div>


        <div class="mdui-textfield mdui-textfield-floating-label">
            <i class="mdui-icon material-icons">vpn_key</i>
            <label class="mdui-textfield-label">Password</label>
            <input class="mdui-textfield-input" id="passwdinput" type="password" onkeydown="ClickPassword()"></input>
        </div>

        <div align="right">
            <div class="mdui-btn mdui-ripple">
                忘记密码？
            </div>
        </div>
    </div>

    <div class="mdui-dialog-actions">
        <button class="mdui-btn mdui-ripple " mdui-dialog-close>cancel</button>
        <button class="mdui-btn mdui-ripple" mdui-dialog-confirm onclick="eraseBtnClicked()">login</button>
    </div>

</div>


<div class="mdui-dialog" id="signupDialog">
    <div class="mdui-dialog-title">SIGN UP</div>
    <div class="mdui-dialog-content">
        <div class="mdui-textfield mdui-textfield-floating-label">
            <i class="mdui-icon material-icons">account_circle</i>
            <label class="mdui-textfield-label">Username</label>
            <input class="mdui-textfield-input" id="emailinputR"></input>
        </div>

        <div align="right">
            <div class="mdui-btn mdui-ripple" mdui-dialog="{target: '#exampleDialog'}"  mdui-dialog-close>
                已有账号？马上登录
            </div>
        </div>


        <div class="mdui-textfield mdui-textfield-floating-label">
            <i class="mdui-icon material-icons">vpn_key</i>
            <label class="mdui-textfield-label">Password</label>
            <input class="mdui-textfield-input" type="password" id="passwdinputR1"></input>
        </div>
        <div class="mdui-textfield mdui-textfield-floating-label">
            <i class="mdui-icon material-icons">vpn_key</i>
            <label class="mdui-textfield-label">Password</label>
            <input class="mdui-textfield-input" type="password" onkeydown="ClickPassword()" id="passwdinputR2"></input>
        </div>


    </div>

    <div class="mdui-dialog-actions">
        <button class="mdui-btn mdui-ripple" mdui-dialog-close>cancel</button>
        <button class="mdui-btn mdui-ripple" mdui-dialog-confirm onclick="registerBtnClicked()">confirm</button>
    </div>
</div>

<div class="mdui-dialog" id="errorDialog">
    <div class="mdui-dialog-title">error</div>

    <div class="mdui-dialog-content" id="errorMsg">
        PROCESSING...
    </div>

    <div class="mdui-dialog-actions">
        <button class="mdui-btn mdui-ripple " mdui-dialog-close id="cancelBtn">cancel</button>
    </div>
</div>

<div class="mdui-dialog" id="processDialogue">
    {#    <div class="mdui-dialog-title">process</div>#}
    <div class="mdui-dialog-content">
        <div class="mdui-spinner"></div>
        PROCESSING...
    </div>
</div>

{% block app %}{% endblock %}

</body>
</html>