{% extends "base.html" %}

{% set curSide = "idx" %}

{% block content %}

    <script src="https://cdn.jsdelivr.net/npm/bluebird@3/js/browser/bluebird.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@2.0.3/fetch.min.js"></script>

    <par>
        <div class="leftblock">
            <div class="mdui-card-content mdui-typo" align="center">
                <div class="doc-title mdui-text-color-theme">
                    <h1> Train Ticket Reserving System </h1>
                </div>
                <img src="{{ url_for('static', filename='pic/home.jpg') }}">

            </div>
        </div>

        <div class="rightblock" align="center">

            <div class="mdui-typo"  style="width: 250px;">
                <h4>
                    一言（ヒトコト）
                </h4>
                <div class="mdui-divider"></div>
                <p id="hitokoto">
                    loading...
                </p>
                <p class="mdui-typo-caption" id="hitokotoSource" align="right">

                </p>
            </div>
        </div>

    </par>

{% endblock %}
