{% extends "base.html" %}

{% set curSide = "查询" %}

{% block head %}



{% endblock %}

{% block content %}

    {% if 'user' in ses  %}

        <div class="mdui-typo">
            <h1 class="mdui-text-color-theme">查询</h1>

        </div>
        <div>

            <div>
                <div style="margin: 20px 0"></div>
                <div style="display: inline-block">
                    出发地：
                    <select id="fromInput" style="width: 150px;" class="slt">
                    </select>
                </div>

                <div style="display: inline-block; margin: 0 20px">
                    目的地：
                    <select id="toInput" style="width: 150px;" class="slt">
                    </select>
                </div>

                <div style="display: inline-block; margin: 0 20px">
                    日期：
                    <select id="dateInput" style="width: 150px;">
                    </select>
                </div>

                <div style="display: inline-block">
                    <label class="mdui-switch">
                        <input type="checkbox" id="viaCheck"/>
                        <i class="mdui-switch-icon" style="margin-right: 5px"></i>
                        查询中转
                    </label>
                </div>

                <div style="margin-top: 20px" id="catas">
                    类别：
                </div>

                <div align="center" style="margin: 20px 0">
                    <button class="mdui-btn mdui-ripple mdui-color-theme-accent" id="profilebtn" onclick="submitQuery()">查询</button>
                </div>

            </div>

            <div>
                筛选：
                <button style="display: inline-block" class="mdui-btn mdui-ripple" onclick="sortByPrice()">按最低票价排序</button>
                <button style="display: inline-block" class="mdui-btn mdui-ripple" onclick="sortByTime()">按最短时间排序</button>
            </div>

            <div class="mdui-table-fluid" style="visibility: hidden" id="tableCon">
                <table class="mdui-table mdui-table-hoverable" id="tablePlace">
                </table>
            </div>

            <div>
                {#                <div align="center"> 查询结果 </div>#}
                <div class="mdui-panel mdui-panel-popout" id="panelPlace" mdui-panel="{accordion: true}" style="visibility: hidden">

                </div>
            </div>




        </div>

    {% else %}
        <div class="mdui-typo">
            please login...
        </div>
    {% endif %}

{% endblock %}

{% block app %}

    <div class="mdui-dialog" id="detailDialogue">
        <div class="mdui-dialog-title" id="ticketDetailTitle"></div>
        <div class="mdui-dialog-content" id="detailMsg">
            {#            <div id="ticketDetailTitle">#}
            {#                #}
            {#            </div>#}
            <div class="mdui-table-fluid">
                <table class="mdui-table mdui-table-hoverable">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>种类</th>
                        <th>余票</th>
                        <th>售价</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="ticketDetailBody">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mdui-dialog-actions">
            <button class="mdui-btn mdui-ripple" mdui-dialog-close id="detailCancleBtn">cancel</button>
        </div>
    </div>

{% endblock %}

{% block scr %}

    <script src="{{ url_for('static', filename='js/pinyin4js.js') }}"></script>
    <script>

        {#console.log()#}

        function timeToInt(s) {
            return (s[3].charCodeAt() - '0'.charCodeAt()) * 60 + (s[4].charCodeAt() - '0'.charCodeAt())
        }

        function sortByTime() {
            data.sort(function (a,b) {
                var t1 = timeToInt(a[6]) - timeToInt(a[3])
                var t2 = timeToInt(b[6]) - timeToInt(b[3])
                return t1 > t2
            })
            createTable()
        }

        function sortByPrice() {
            data.sort(function (a,b) {
                var flag1 = 0;
                var pri1 = 1e18;
                for (var k = 0; k < a[7].length; k++) {
                    if (a[7][k][1] > 0) {
                        flag1 = 1;
                        if (a[7][k][2] < pri1) {
                            pri1 = a[7][k][2]
                        }
                    }
                }
                var flag2 = 0;
                var pri2 = 1e18;
                for (var k = 0; k < b[7].length; k++) {
                    if (b[7][k][1] > 0) {
                        flag2 = 1;
                        if (b[7][k][2] < pri2) {
                            pri2 = b[7][k][2]
                        }
                    }
                }
                return pri1 > pri2
            })
            createTable()
        }

        $(document).ready(function () {
            for (var i = 1; i <= 30; i++) {
                $('#dateInput').append('<option>2019-06-' + (i < 10 ? '0' : '') + i + '</option>')
            }
            for (var i = 0; i < allCity.length; i++) {
                $('.slt').append('<option>' + allCity[i] + '</option>')
            }
            $('#fromInput').editableSelect( {
                effects: 'slide'
            });
            $('#toInput').editableSelect({
                effects: 'slide'
            })
            $('#dateInput').editableSelect({
                effects: 'slide'
            })
        })

        function createTable() {
            var tbl = $('#tablePlace')
            tbl.html('')
            var hd = $('<thead></thead>')
            var hr = $('<tr></tr>')
            $('<th> # </th>').appendTo(hr)
            for (var j = 0; j < 8; j++) {
                if (j == 2 || j == 5) continue
                var cu = $('<th>'+tagname[j]+'</th>')
                cu.appendTo(hr)
            }
            $('<th></th>').appendTo(hr)
            hr.appendTo(hd)
            hd.appendTo(tbl)
            var bd = $('<tbody></tbody>')
            for (var i = 0; i < data.length; i++) {
                var r = $('<tr></tr>')
                $('<td>'+(i+1)+'</td>').appendTo(r)
                for (var j = 0; j < 7; j++) {
                    if (j == 2 || j == 5) continue
                    if (j == 6 && data[i][5] != data[i][2]) {
                        var cu = $('<td><span style="color:#ff0000">[次日]</span>' + data[i][j] + '</td>')
                        cu.appendTo(r)
                    } else {
                        var cu = $('<td>' + data[i][j] + '</td>')
                        cu.appendTo(r)
                    }
                }
                var flag = 0;
                var pri = 1e18;
                for (var k = 0; k < data[i][7].length; k++) {
                    if (data[i][7][k][1] > 0) {
                        flag = 1;
                        if (data[i][7][k][2] < pri) {
                            pri = data[i][7][k][2]
                        }
                    }
                }
                $('<td>'+(flag!=0?'有，￥' + pri.toFixed(2) + '起':'无')+'</td>').appendTo(r)
                $('<td><button class="mdui-btn mdui-btn-raised mdui-ripple" onclick="clickedAtRow('+i+')">详情</button></td>').appendTo(r)
                r.appendTo(bd)
            }
            bd.appendTo(tbl)
            $('#tableCon').css('visibility', 'visible')
        }

        var detailDialog = new mdui.Dialog('#detailDialogue');

        function clickedAtRow(x) {

            $('#ticketDetailBody').html('')
            $('#ticketDetailTitle').html(data[x][0])
            execCommand('query_train ' + data[x][0], function(d) {
                let ar = d.result.split(/[ ]|\n/)
                $('#ticketDetailTitle').html(ar[1])
            })
            var len = data[x][7].length
            for (var i=0; i<len;i++) {
                var tmp=$('<tr></tr>')
                $('<td>'+(i+1)+'</td>').appendTo(tmp)
                $('<td>'+data[x][7][i][0]+'</td>').appendTo(tmp)
                $('<td>'+data[x][7][i][1]+'</td>').appendTo(tmp)
                $('<td>'+data[x][7][i][2]+'</td>').appendTo(tmp)
                $('<td><button class="mdui-btn mdui-btn-raised mdui-ripple" onclick="buyTicket('+x+','+i+')">购买</button></td>').appendTo(tmp)
                tmp.appendTo($('#ticketDetailBody'))
            }

            detailDialog.open()
            document.querySelector('#detailCancleBtn').focus()

        }

        function buyTicket(x, ii) {
            execCommand(["buy_ticket","{{ses['user']}}","1",data[x][0],data[x][1],data[x][4],$('#dateInput').val(),data[x][7][ii][0]].join(' '), function (d) {
                var res = d.result;
                if (res == "1") {
                    if (d.result == '1') {
                        mdui.snackbar({
                            message: '购票成功！'
                        });
                        {#$.post('/mail', {'to': userInfo[1], 'da': '您已成功购票'}, function (d) {#}

                        {# } )#}
                    } else {
                        mdui.snackbar({
                            message: '购票失败...'
                        });
                    }
                    data[x][7][ii][1] -= 1;
                    $('#ticketDetailBody').html('')
                    $('#ticketDetailTitle').html(data[x][0])
                    execCommand('query_train ' + data[x][0], function(d) {
                        let ar = d.result.split(/[ ]|\n/)
                        $('#ticketDetailTitle').html(ar[1])
                    })
                    var len = data[x][7].length
                    for (var i=0; i<len;i++) {
                        var tmp=$('<tr></tr>')
                        $('<td>'+(i+1)+'</td>').appendTo(tmp)
                        $('<td>'+data[x][7][i][0]+'</td>').appendTo(tmp)
                        $('<td>'+data[x][7][i][1]+'</td>').appendTo(tmp)
                        $('<td>'+data[x][7][i][2]+'</td>').appendTo(tmp)
                        $('<td><button class="mdui-btn mdui-btn-raised mdui-ripple" onclick="buyTicket('+x+','+i+')">购买</button></td>').appendTo(tmp)
                        tmp.appendTo($('#ticketDetailBody'))
                    }
                }
            })

        }

        function submitQuery() {
            var cmd = ''
            if ($('#viaCheck').prop('checked') == true) {
                cmd = 'query_transfer'
            } else {
                cmd = 'query_ticket'
            }
            cmd += ' '
            cmd += $('#fromInput').val()
            cmd += ' '
            cmd += $('#toInput').val()
            cmd += ' '
            cmd += $('#dateInput').val()
            cmd += ' '
            for (var i = 0; i < allCata.length; i++) {
                if ($('#cataCKB' + i).prop('checked') == true) {
                    cmd += allCata[i]
                }
            }
            {#alert(cmd)#}
            console.log(cmd)

            execCommand(cmd, function (d) {
                handleQueryTicket((($('#viaCheck').prop('checked') == true) ? "2\n" : "") + d.result)
            })

        }

        function handleTransfer(d) {
            var ar = d.result.split['\n']
            var t1 = ar.split[' ']
            var t2 = ar.split[' ']

        }

        function handleQueryTicket(ret) {
            console.log(ret)
            data = []
            ar = ret.split(/[ ]|\n/)
            console.log(ar)
            var cu = 1, cnt = parseInt(ar[0]);
            for (var i = 0; i < cnt; i++) {
                var curTr = []
                curTr.push(ar[cu])
                curTr.push(ar[cu + 1])
                curTr.push(ar[cu + 2])
                curTr.push(ar[cu + 3])
                curTr.push(ar[cu + 4])
                curTr.push(ar[cu + 5])
                curTr.push(ar[cu + 6])
                cu = cu + 7;
                curTr.push([])
                let l = curTr.length
                while (/.*[\u4e00-\u9fa5]+.*/.test(ar[cu])) {
                    curTr[l - 1].push([ar[cu], parseInt(ar[cu + 1]), parseFloat(parseFloat(ar[cu + 2]).toFixed(2))])
                    cu = cu + 3
                }
                curTr.push('orz')
                curTr.push('TTK')
                data.push(curTr)
            }
            {#createPanel()#}
            createTable()
        }

        for (var i = 0; i < allCata.length; i++) {
            $('#catas').append('<label class="mdui-checkbox" style="margin-right:50px"><input type="checkbox" id="cataCKB' + i + '" checked/><i class="mdui-checkbox-icon"></i>' + allCata[i] + '</label>')
        }

    </script>

{% endblock %}