{% extends "base.html" %}

{% set curSide = "qry" %}

{% block content %}

    {% if 'user' in ses %}

        <div class="mdui-typo">
            <h1 class="mdui-text-color-theme">查询</h1>

            <p>This is the query page.</p>

            <p>Tickets from <code>北京</code> to <code>上海</code></p>

            <div class="mdui-panel mdui-panel-popout" id="panelPlace" mdui-panel="{accordion: true}">

            </div>

        </div>

    {% else %}
        <div class="mdui-typo">
            please login...
        </div>
    {% endif %}

{% endblock %}

{% block app %}

<div class="mdui-dialog" id="detailDialogue">
    <div class="mdui-dialog-title">DETAIL</div>
    <div class="mdui-dialog-content" id="detailMsg">

    </div>
    <div class="mdui-dialog-actions">
        <button class="mdui-btn mdui-ripple" mdui-dialog-close id="detailCancleBtn">cancel</button>
    </div>
</div>

{% endblock %}